<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/image/favicon-32x32.png" type="image/x-icon"/>
  <title>首页</title>
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/swiper.min.css">
  <link href="../../static/css/libra_index.css" rel="stylesheet">
  <script src="../../static/js/ie-emulation-modes-warning.js"></script>
  <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?791186a0d9af10a42b114b7132ca7ed3";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">libra中文社区</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">关于</a></li>
        <li><a href="#about">下载</a></li>
        <li><a href="#contact">资讯</a></li>
        <li><a href="https://libra.org/zh-CN/association/" target="_blank">协会</a></li>
        <li><a href="libra_navigationall.html">导航</a></li>
        <li><a href="/topic/list" target="_blank">社区</a></li>
        <li><a href="https://libra.org/en-US/?noredirect=1" target="_blank">EN</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="header">
  <div class="waveWrapper">
    <div class="waveWrapperInner">
      <div class="wave waveTop" style="background-image: url('../../static/image/wave-top.png')"></div>
      <div class="wave waveMiddle" style="background-image: url('../../static/image/wave-mid.png')"></div>
      <div class="wave waveBottom" style="background-image: url('../../static/image/wave-bot.png')"></div>
    </div>
  </div>
  <div class="container">
    <div class="starter-template">
      <h1>Libra</h1>
      <h3>中文社区</h3>
      <h4>Libra的使命是建立一套简单的，无国界的货币和为数十亿人服务的金融基础设施。</h4>
    </div>
  </div>
</div>
<div class="container container_video">
  <div class="starter-template">
    <h1>为什么创立Libra？<small>（视频来自libra官网）</small></h1>
    <p><video src="../../static/image/home-infographic-en-2.mp4" controls="controls" controlslist="nodownload"
              poster="../../static/image/libra_video.png"></video></p>
  </div>
</div>
<div class="ontainer-fluid con_Tab">
  <div class="container">
    <div class="swiper_01">
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide01">
            <h3>什么是 Libra?</h3>
          </div>
          <div class="swiper-slide swiper-slide02">
            <h3>数字资产</h3>
          </div>
          <div class="swiper-slide swiper-slide03">
            <h3>资产储备</h3>
          </div>
          <div class="swiper-slide swiper-slide04">
            <h3>Libra协会</h3>
          </div>
          <div class="swiper-slide swiper-slide05">
            <h3>高性能</h3>
          </div>
          <div class="swiper-slide swiper-slide06">
            <h3>BFT</h3>
          </div>
          <div class="swiper-slide swiper-slide07">
            <h3>匿名原则</h3>
          </div>
          <div class="swiper-slide swiper-slide08">
            <h3>merkletrees</h3>
          </div>
          <div class="swiper-slide swiper-slide09">
            <h3>Move 编程语言</h3>
          </div>
        </div>
      </div>
      <div class="swiper-container gallery-top">
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <h2>什么是 Libra?</h2>
              <p>我们认为，世界需要一种全球性的数字原生货币，它能够集世界上最佳货币的特征于一体:稳定性、低通货膨胀率、 全球普遍接受和可互换性。Libra 货币旨在帮助满足这些全球需求，以期扩展金钱对全球人民的影响。
              </p>
              <p>Libra 的目标是成为一种稳定的数字加密货币，将全部使用真实资产储备(称为“Libra 储备”)作为担保，并由买卖 Libra 并存在竞争关系的交易平台网络提供支持。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>数字资产</h2>
              <p>Libra 背后的资产是它与许多现有加密货币之间的主要差异，这些加密货币缺乏这种内在价值，因此价格会因心理 期望而大幅波动。然而，Libra
                的确是一种加密货币，因此，它继承了这些新型数字货币的几个引人注目的特性:能够快速转账，通过加密保障安全性以及轻松自由地跨境转移资金。</p>
              <p>正如当今世界人们可以随时随地使用手机向好 友发送消息一样，我们同样可以通过 Libra 即时、安全且经济地管理资金。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide">
              <div class="container">
                <h2>资产储备</h2>
                <p>储备资产的利息将用于支付系统的成本、确保低交易费用、分红给生态系统启动初期的投资者，以及为进一步增长和普及提供支持。储备资产的利息分配将提前设定，并将接受 Libra 协会监 督。Libra
                  用户不会收到来自储备资产的回报。</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>Libra协会</h2>
              <p>Libra 协会是一个独立的非营利性成员制组织，总部设在瑞士日内瓦。协会旨在协调和提供网络与资产储备的管理
                框架，并牵头进行能够产生社会影响力的资助，为普惠金融提供支持。本白皮书说明了其使命、愿景和权限范围。协 会的成员系统由运作 Libra 区块链的验证者节点网络构成。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>高性能</h2>
              <p>能够扩展到数十亿帐户，这要求区块链具有极高的交易吞吐量和低延迟等特点，并拥有一个高效且高容量的存储系统。</p>
              <p>高度安全可靠，可保障资金和金融数据的安全。</p>
              <p>足够灵活，可支持 Libra 生态系统的管理以及未来金融服务领域的创新。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>BFT</h2>
              <p>Libra 区块链采用了基于 LibraBFT 共识协议的 BFT 机制来实现所有验证者节点就将要执行的交易及其执行顺序达
                成一致。这种方法可以在网络中建立信任，因为即使某些验证者节点(最多三分之一的网络)被破坏或发生故障，BFT
                共识协议的设计也能够确保网络正常运行。与其他一些区块链中使用的“工作量证明”机制相比，这类共识协议还可 实现高交易处理量、低延迟和更高能效的共识方法。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>匿名原则</h2>
              <p>Libra 区块链遵循匿名原则，允许用户持有一个或多个与他们真实身份无关的地址。这是许多用户、开发者和监管 机构都熟悉的模式。Libra 协会将负责监督 Libra
                区块链协议和网络的演变，并将继续评估可增强区块链隐私保护 的新技术，同时考虑它们的实用性、可扩展性和监管影响。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>merkletrees</h2>
              <p>为了保障所存储的交易数据的安全，Libra
                区块链中的数据受梅克尔树的保护，它是一种已在其他区块链中广泛使用的数据结构，可以侦测到现有数据的任何变化。不同于以往的区块链都将区块链视为交易区块的集合，Libra 区块
                链是一种单一的数据结构，可长期记录交易历史和状态。这种实现方式简化了访问区块链的应用程序的工作量，允 许它们从任何时间点读取任何数据，并使用统一框架验证该数据的完整性。</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h2>Move 编程语言</h2>
              <p>“Move”是一种新的编程语言，用于在 Libra 区块链中实现自定义交易逻辑和“智能合约”。 由于 Libra 的目标是每天 为数十亿人服务，因此 Move 的设计首先考虑到安全性和可靠性。 Move
                是从迄今为止发生的与智能合约相关的安 全事件中吸取经验而创造的一种编程语言，能从本质上令人更加轻松地编写符合作者意图的代码，从而降低了出现意外漏洞或安全事件的风险。 </p>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-fluid01" id="about">
  <div class="container">
    <div class="row paper">
      <div class="row">
        <div class="col-md-6">
          <div class="paper_01">
            <div class="paper_libra">
              <div class="paper_libra01"></div>
              <div class="paper_libra02">
                <h3>Libra</h3>
                <h3>白皮书</h3>
                <p>区块链货币协会</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../../static/image/text.gif">
      <div class="paper_libra_bq">
        <div class="xzzwb"><a href="LibraWhitePaper_zh_CN-1.pdf" download="LibraWhitePaper_zh_CN-1.pdf" target="_blank">下载中文版</a></div>
        <div class="xzywb"><a href="LibraWhitePaper_en_US-1.pdf" download="LibraWhitePaper_en_US-1.pdf" target="_blank">下载英文版</a></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container01 container0_T">
    <h3>如果您是开发者</h3>
    <p>
      Libra设计和使用采用Move 编程语言。“Move”是一种新的编程语言，用于在 Libra 区块链中实现自定义交易逻辑和“智能合约”。
    </p>
    <!--     <p>
          如 需 了 解 详 情 ，请 阅 读 有 关 L i b r a 区 块 链 的<mark>技 术 论 文</mark> 。也 可 查 阅 有 关 <mark>M o v e 编 程 语 言 </mark>和<mark>
            L
            i b r a B F T 共 识 协 议</mark> 的 详 细 信 息。我们已经推出了<mark>Libra 测试网</mark>的早期版本，并提供了配套文档。测试网仍处于开发阶段，API 可能会发生变化。我
          们致力于开诚布公地与社群合作，因此希望您可以阅读相关内容、进行开发和提供反馈。
        </p> -->
    <p>
      如 需 了 解 详 情 ，请 阅 读 有 关 L i b r a 区 块 链 的<a href="https://developers.libra.org/docs/the-libra-blockchain-paper" style="text-decoration:underline;color:#305E99" target="_blank">技 术 论 文</a> 。也 可 查 阅 有 关 <a href="https://developers.libra.org/docs/move-" style="text-decoration:underline;color:#305E99" target="_blank">M o v e 编 程 语 言</a>和<a href="https://developers.libra.org/docs/state-machine-replication-paper" style="text-decoration:underline;color:#305E99" target="_blank"> L i b r a B F T 共 识 协 议</a> 的 详 细 信 息。我们已经推出了<a href="https://developers.libra.org/" style="text-decoration:underline;color:#305E99" target="_blank"> Libra 测试网</a>的早期版本，并提供了配套文档。测试网仍处于开发阶段，API可能会发生变化。我们致力于开诚布公地与社群合作，因此希望您可以阅读相关内容、进行开发和提供反馈。
    </p>
  </div>
</div>
<div class="container-fluid container02" id="contact">
  <div class="container01">
    <h3>更多相关</h3>
  </div>
  <div class="container">
    <ul>
      <li>
        <!-- <img src="../../static/image/shequ.png"> -->
        <a href="/topic/list" target="_blank"><img src="../static/image/shequ.png"></a>
      </li>
      <li>
        <a href="https://libra.org/zh-CN/association/" target="_blank"><img src="../../static/image/qianbao.png"></a>
      </li>
      <li>
        <!-- <img src="../../static/image/huodong.png"> -->
        <a href="https://libra.org/zh-CN/media-press-news/" target="_blank"><img src="../static/image/huodong.png"></a>
      </li>
    </ul>
  </div>
</div>
<div class="container container03">
  <h1 class="cent"><img src="../../static/image/Group%205.png"></h1>
  <div class="row shequ">
    <div class="col-md-6"><a href="https://libra.org/zh-CN/" target="_blank">libra中文社区：https://libra.org/zh-CN/</a></div>
    <div class="col-md-6"><a href="https://libra.org/en-US/?noredirect=1" target="_blank">libra英文社区：https://libra.org/en-US/?noredirect=1</a></div>
  </div>
  <div class="row zc">
    <div class="col-md-12">
      <ul class="zc_left">
        <li><a href="https://github.com/libra/libra" target="_blank"><img src="../../static/image/Group6.png"></a></li>
        <li><a href="https://twitter.com/libra" target="_blank"><img src="../../static/image/Group12.png"></a></li>
        <li><a href="https://www.facebook.com/LibraAssociation/" target="_blank"><img src="../../static/image/Group10.png"></a></li>
        <li><a href="https://www.instagram.com/libra/" target="_blank"><img src="../../static/image/Group9.png"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <p class="cent time">&#169 2019 cnlibra.net</p>
</div>
<script src="../../static/js/jquery.min.js"></script>

<script src="../../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../static/js/swiper.min.js"></script>

<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 0,
        slidesPerView: 'auto',
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });
</script>
</body>

</html>
