<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='Chinaso：AI专业社区论坛'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nodejs, node, express, connect, socket.io"/>
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">


    <meta name="author" content="EDP@TaoBao" />

    <meta property="wb:webmaster" content="617be6bd946c6b96" />


    <link title="RSS" type="application/rss+xml" rel="alternate" href="rss.rss"/>


    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>


    <!-- style -->
    <!--<link rel="stylesheet" href="https://o4j806krb.qnssl.com/public/stylesheets/index.min.23a5b1ca.min.css" media="all" />-->
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"  media="all" />


    <!-- scripts -->
    <!-- <script src="https://o4j806krb.qnssl.com/public/index.min.f7c13f64.min.js"></script>-->
    <script th:src="@{/js/index.js}" ></script>

    <style type="text/css">
        .logo{
            position: relative;
            z-index: 9;
            margin: 5px auto 8px;
        }
        .logo, .logo a {
            height: 125px;
            text-align: center;
        }
    </style>




    <title>Chinaso：AI专业社区论坛</title>

    <meta content="_csrf" name="csrf-param">
    <meta content="M9IWWE3V-1qepEfgBMIgN0j3UAV5v30k1A-k" name="csrf-token">
</head>
<body>
<!-- navbar -->
<!--<div th:include="head_new :: logo">
    <div th:include="head_new :: navbar">-->
<!--公共头开始-->
<div class="logo">
    <a href='/'>
        <img th:src="@{/image/logo.png}" />
    </a>
</div>
<div class='navbar'>

    <div class='navbar-inner'>
        <div class='container'>
            <form id='search_form' class='navbar-search' action="/topic/list" method="post" name="searchForm">
                <input type="text" name="title" th:value="${title}" class='search-query span3' />
            </form>

            <ul class='nav pull-right'>
                <li><a href="/">首页</a></li>
                <li><a href="/toRegister">注册</a></li>
                <li><a  href="/toLogin" th:if="${session.user} == null">登录</a></li>
                <li><a  href="javascript:void(0)" th:if="${session.user} != null" th:text="${session?.user?.accountId}"></a></li>
                <li><a  href="/loginOut" th:if="${session.user} != null">退出</a></li>
                <li><a th:if="${session.user} != null" th:href="@{/topic/toPublish(accountId=${session.user.accountId})}" th:target="_blank">发布话题</a></li>

            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>
<!--公共头结束-->

<div id='main'>

    <div id='content'>
        <div class='panel'>
            <div class="header topic_header">
      <span class="topic_full_title" th:text="${topic.title}">
      </span>
                <div class="action">


                    <span class="span-common span-success" id="collect_btn" action="collect">加入收藏</span>


                </div>
                <div class="changes">
        <span th:text="'发布于  ' + ${topic.createtime}">
        </span>
                    <span>
          作者 <a href="#" th:text="${topic.accountId}"></a>
        </span>
                    <span>
          112 次浏览
        </span>


                    <span th:text="'来自'+ ${topic.sectionName} "> 来自 问答</span>

                </div>

                <div id="manage_topic">



                </div>

            </div>

            <div class="inner topic">
            <div class="topic_content" th:utext="${topic.content}">
            </div>
            </div>
        </div>

        <div class="panel" th:if="${not #lists.isEmpty(replys)}">
            <div class="header">
                <span class="topic-tab" th:text="${#lists.size(replys)} + '回复'"  ></span>
            </div>
            <div class="cell reply_area reply_item" th:each="reply,iterStat : ${replys}">
                <div class="author_content">
                    <div class="user_info">
                      <a class="dark reply_author" th:text="${reply.accountId}"></a>
                      <a class="reply_time" th:text="${iterStat.index+1} + '楼•'"></a>
                      <a class="reply_time" th:text="${reply.createtime}"></a>
                    </div>
                </div>
                <div class="reply_content from-afacode">
                    <div class="markdown-text">
                        <p th:text="${reply.content}"></p>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="reply2_area">
                  
                </div>
            </div>
                <!-- <nav>
                    <ul class="list" >
                        <li th:each="reply,iterStat : ${replys}">
                            <span th:text="${iterStat.index+1} + '楼：'"></span>
                            <span th:text="${reply.accountId}"></span>
                            <span th:text="${reply.content}"></span>
                            <span class="last_active_time" th:text="${reply.createtime}"></span>
                        </li>
                    </ul>
                </nav> -->
        </div>

        <div class="panel" th:if="${session.user} != null">
            <div class="header">
                <span class="col_fade">添加回复</span>
            </div>
            <div class="inner reply">
                <form id="reply_form" action="/reply" method="post" name="replyForm"  onsubmit="return CheckPost();">
                    <input type="hidden" name="accountId" placeholder="账号" th:value="${session?.user?.accountId}"/>
                    <input type="hidden" name="topicId" placeholder="帖子id" th:value="${topic.topicId}" />
                    <div class="markdown_editor in_editor">
                        <div class='markdown_editor in_editor'>
                            <div class='markdown_in_editor'>
                <textarea class='editor' name='content' rows='8'></textarea>
                                <div class='editor_buttons'>
                                    <input type="submit" class='span-primary'
                                           value="提交">
                                </div>
                            </div>

                        </div>

                    </div>

                    <input type="hidden" name="_csrf" id="_csrf" value="fOnK6DRh-slWqGDl8wfiGcIpbWQSa0i_z-30">
                </form>
            </div>
        </div>


    </div>

</div>
<div id='backtotop'>回到顶部</div>
<div th:include="footer :: footer"></div>
<div id="sidebar-mask"></div>


<script>

    function CheckPost ()
    {
        if (replyForm.content.value == "")
        {
            alert("请填写内容！");
            replyForm.content.focus();
            return false;
        }
        return true;
    }
</script>



</body>
</html>
