<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <link th:href="@{/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:include="head :: head"></div>
<div>
    <span class="topic_full_title" th:text="${topic.title}">
    </span>
</div>

<div class="changes">
   <span th:text="'作者：' + ${topic.accountId}">
    </span>
    <span th:text="'发布时间：' + ${#strings.substring(topic.createtime,0,19)}">
    </span>
</div>

<div>
    <HR>
   <span th:text="'内容：' + ${topic.content}">
    </span>
</div>
</div>

<div th:if="${not #lists.isEmpty(replys)}">
<h1>回复列表</h1>
<nav>
    <ul class="list" >
        <li th:each="reply,iterStat : ${replys}">
            <span th:text="${iterStat.index+1} + '楼：'"></span>
                <span th:text="${reply.accountId}"></span>
                <span th:text="${reply.content}"></span>
                <span th:text="${#strings.substring(reply.createtime,0,19)}"></span>
        </li>
    </ul>
</nav>
</div>

<div th:if="${session.user} != null">
    <h1>添加回复</h1>
    <form class="form" action="/reply" method="post" name="replyForm"  onsubmit="return CheckPost();">
        <input type="hidden" name="accountId" placeholder="账号" th:value="${session?.user?.accountId}"/>
        <input type="hidden" name="topicId" placeholder="帖子id" th:value="${topic.topicId}" />
        内容：<textarea name="content" cols="150" rows="10" placeholder="内容"></textarea><br /><br />
        <input type="submit" value="提交"/>
        <input type="reset" value="重置"/>
    </form>
</div>

</body>
<script language="javascript">
    function CheckPost ()
    {
        if (replyForm.content.value == "")
        {
            alert("请填写内容！");
            replyForm.content.focus();
            return false;
        }
        return true;
    }
</script>
</html>