<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我参与的帖子</title>
    <link th:href="@{/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <a th:align="right" href="/" th:target="_blank">首页</a>&nbsp;&nbsp;
    <a th:align="right" href="/toLogin" th:target="_blank" th:if="${session.user} == null">登录</a>&nbsp;&nbsp;
    <span  th:if="${session.user} != null" th:text="${session?.user?.accountId}"></span>&nbsp;&nbsp;
    <a th:align="right" href="/loginOut" th:target="_blank" th:if="${session.user} != null">退出</a>&nbsp;&nbsp;
    <a th:align="right" href="/toRegister" th:target="_blank">注册</a>
    <h1></h1>
</div>

<h1>帖子列表</h1>
<div id="topic_list">
    <div class="cell" th:each="topic,iterStat : ${topics}">
        <span th:text="${iterStat.index+1}"></span>
        <span th:text="${topic.accountId}"></span>
        <span><a th:href="@{/topic/detail(topicId=${topic.topicId})}" th:text="${topic.title}"></a></span>
        <span th:text="${#strings.substring(topic.createtime,0,19)}"></span>
    </div>
</div>

<div>
    <nav>
        <ul class="page">
            <li th:if="${not isFirstPage}">
                <a th:if="${not isFirstPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum-1},pageSize=${pageSize},accountId=${accountId})}">上一页</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>

                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/topic/list'}(pageNum=${pageNo},pageSize=${pageSize},accountId=${accountId})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>
            <li th:if="${not isLastPage}">
                <a th:if="${not isLastPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum+1},pageSize=${pageSize},accountId=${accountId})}">下一页</a>
            </li>
        </ul>
    </nav>
</div>

</body>
<script language="javascript">
</script>
</html>