/*
* @Author: lenovo
* @Date:   2018-12-03 10:29:23
* @Last Modified by:   cuikai
* @Last Modified time: 2018-12-11 17:02:23
*/
.admin-head {
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-indent: 36px;
    background: #74bed0;
    color: #fff;
}
.main {
	width: 95%;
	margin: 0 auto;
	margin-top: 40px;
}
@media screen and (min-width: 768px) {
	.main {
		display: flex;
	}
	.main .menu-wrap {
	    flex: 1;
	    margin-right: 10px;
	    background: #efefef;
        border-radius: 4px;
	}
	.content {
	    flex: 6;
	}
	.nav-container {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.main .menu {
		display: none;
	}
	.nav-container {
	    position: absolute;
	    top: 24px;
	    width: 95%;
	    z-index: 1;
	}
	.navbar-toggle {
	    border-color: #ddd;
	    margin-right: 0;
        background: #ddd;
	}
	.navbar-toggle .icon-bar {
	    background-color: #1591ca;
	    display: block;
	    width: 22px;
	    height: 2px;
	    border-radius: 1px;
	}
	#main-navbar {
		background: #efefef;
		border-top: 1px solid #efefef;
    	margin-bottom: 10px;
	}
}
.content {
	width: 100%;
}
.main .table > tbody > tr > td {
	vertical-align: middle;
}
.topic-data,.batch {
	margin-top: 20px;
}
.topic-data,.batch a {
	margin-left: 3px;
}
.no-content {
    height: 500px;
    background: #f5f6f7;
    line-height: 500px;
    text-align: center;
    color: #ccc;
    font-size: 16px;    
    margin-top: 20px;
}
.page {
	text-align: center;
	cursor: pointer;
}