<div id="footer" class="footer f_n" log_action="591bc4a2c95f313dfd5406f7" th:fragment="footer">
    <div id='footer_main'>
        <div class='col_fade'>
            <p>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://www.chinaso.com/home/aboutus.html" target="_blank">关于我们</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://www.chinaso.com/home/contactus.html" target="_blank">联系我们</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://www.chinaso.com/home/say_chinaso_wzslsq.html" target="_blank">意见建议</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://www.chinaso.com/home/product.html" target="_blank">产品中心</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://hr.chinaso.com" target="_blank">国搜招聘</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://www.chinaso.com/home/link.html" target="_blank">链接国搜</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://promotion.chinaso.com" target="_blank">国搜推广</a><span>|</span>
                <a class="sponsor_outlink" data-label="qiniu_bottom" href="http://report.12377.cn:13225/toreportinputNormal_anis.do" target="_blank">网上有害信息举报专区</a>
            </p>
            <p>本网页所呈现之内容，如无特别注明，均系系统自动抓取而得，不代表中国搜索之立场。如有意见或投诉，请点击页面下方的"意见建议"，欢迎及时反馈。 </p>
            <p><span class="copyright">©2018 中国搜索</span>&nbsp;&nbsp;<span>京ICP证：14006318号</span></p>
        </div>
    </div>

</div>