<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='Chinaso：AI专业社区论坛'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nodejs, node, express, connect, socket.io"/>
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">


    <meta name="author" content="EDP@TaoBao" />

    <meta property="wb:webmaster" content="617be6bd946c6b96" />


    <link title="RSS" type="application/rss+xml" rel="alternate" href="rss.rss"/>


    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>


    <!-- style -->
    <!--<link rel="stylesheet" href="https://o4j806krb.qnssl.com/public/stylesheets/index.min.23a5b1ca.min.css" media="all" />-->
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"  media="all" />


    <!-- scripts -->
    <!-- <script src="https://o4j806krb.qnssl.com/public/index.min.f7c13f64.min.js"></script>-->
    <script th:src="@{/js/index.js}" ></script>

    <style type="text/css">
        .logo{
            position: relative;
            z-index: 9;
            margin: 5px auto 8px;
        }
        .logo, .logo a {
            height: 125px;
            text-align: center;
        }

        #imgVerify {
            height: 36px;
        }
    </style>




    <title>Chinaso：AI专业社区论坛</title>

    <meta content="_csrf" name="csrf-param">
    <meta content="M9IWWE3V-1qepEfgBMIgN0j3UAV5v30k1A-k" name="csrf-token">
</head>
<body>
<!-- navbar -->
<!--<div th:include="head_new :: logo">
    <div th:include="head_new :: navbar">-->
<!--公共头开始-->
<div class="logo">
    <a href='/'>
        <img th:src="@{/image/logo.png}" />
    </a>
</div>
<div class='navbar'>

    <div class='navbar-inner'>
        <div class='container'>
            <form id='search_form' class='navbar-search' action="/topic/list" method="post" name="searchForm">
                <input type="text" name="title" th:value="${title}" class='search-query span3' />
            </form>

            <ul class='nav pull-right'>
                <li><a href="/">首页</a></li>

                <!--<li><a href="#">新手入门</a></li>
                <li><a href="#">API</a></li>

                <li><a href="#" target="">关于</a></li>-->


                <li><a href="/toRegister">注册</a></li>
                <li><a  href="/toLogin" th:if="${session.user} == null">登录</a></li>
                <li><a  href="javascript:void(0)" th:if="${session.user} != null" th:text="${session?.user?.accountId}"></a></li>
                <li><a  href="/loginOut" th:if="${session.user} != null">退出</a></li>
                <li><a th:if="${session.user} != null" th:href="@{/topic/toPublish(accountId=${session.user.accountId})}" th:target="_blank">发布话题</a></li>

            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>
<!--公共头结束-->

<div id='main'>
    <div id='sidebar'>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>关于</span>
            </div>
            <div class='inner'>
                <p>Chinaso：AI专业社区论坛</p>

                <p>在这里你可以：</p>
                <ul>
                    <li>向别人提出你遇到的问题</li>
                    <li>帮助遇到问题的人</li>
                    <li>分享自己的知识</li>
                    <li>和其它人一起进步</li>
                </ul>
            </div>
        </div>
    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'>忘记密码</li>
                </ul>
            </div>
            <div class='inner'>
                <div class="alert alert-error" th:if="${flag} eq false">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <strong th:text="${message}"></strong>
                </div>

                <form id='forgetPwForm' class='form-horizontal' method='post' name="forgetPwForm" >
                    <div class='control-group'>
                        <label class='control-label' for='email'>邮箱</label>

                        <div class='controls'>
                            <input class='input-xlarge' id='email' name='email' size='50' type='text'/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class='control-label' for='code'>验证码</label>
                        <div class='controls'>
                            <input class='input-xlarge' placeholder="请输入验证码" id='code' name='code' size='4' type='text'/>
                            <a href="javascript:void(0);" title="点击更换验证码">
                                <img id="imgVerify" src="" alt="更换验证码" onclick="getVerify(this);">
                            </a>
                        </div>
                    </div>
                    <input type='hidden' name='_csrf' value='UXvsUk2g-WVTJXGLNdmGG2ySyyFXOUXKdcgk'/>

                    <div class='form-actions'>
                        <input type='submit' class='span-primary' value='找回密码' id="forgetPw"/>
                    </div>
                </form>
                <span style="color: blue" th:if="${flag} eq true" th:text="${message}"></span>
                <span style="color: red"  th:if="${flag} eq false" th:text="${message}"></span>
            </div>
        </div>
    </div>

</div>
<div id='backtotop'>回到顶部</div>
<div th:include="footer :: footer"></div>
<div id="sidebar-mask"></div>


<script>

    $(function(){
        //首次获取验证码
        $("#imgVerify").attr("src","/code/getVerify?"+Math.random());
    });

    $('#forgetPw').click(function(){

        var email = $('#email').val();
        if(email==""){
            alert("请填写邮箱！");
            forgetPwForm.email.focus();
            return false;
        }

        var code = $("#code").val();
        var flag = false;
        if(code!=null && code!=""){
            code = code.toUpperCase();//将输入的字母全部转换成大写
            $.ajax({
                url : "/code/checkVerify",
                data: {code:code},
                type: 'get',
                dataType: 'json',
                async:false,
                success : function(datas) {
                    flag = datas;
                }
            });
        }else{
            flag = false;
        }
        if(flag){
            alert("验证码校验通过");
            submitForm();//提交表单
        }else{
            alert("请输入正确的验证码");
            loginForm.code.focus();
            return false;
        }


    });

    function CheckPost()
    {
        if (forgetPwForm.email.value == "")
        {
            alert("请填写邮箱！");
            forgetPwForm.email.focus();
            return false;
        }
        return true;
    }

    //提交表单
    function submitForm(){

        document.forgetPwForm.action = "/forgetPassword";
        document.forgetPwForm.submit();
    }

    //获取验证码
    function getVerify(obj){
        obj.src = "/code/getVerify?"+Math.random();
    }

    //校验验证码
    function checkSum(){
        var code = $("#code").val();
        if(code!=null && code!=""){
            code = code.toUpperCase();//将输入的字母全部转换成大写
            $.ajax({
                url : "/code/checkVerify",
                data: {code:code},
                type: 'get',
                dataType: 'json',
                success : function(datas) {
                    if(datas){
                        submitForm();//提交表单
                    }else {
                        $(".warn_text").text("验证码输入错误！");
                        $(".login_form_warn").css("display","block");
                        return false;
                    }
                }
            });
        }else{
            $(".warn_text").text("请输入验证码！");
            $(".login_form_warn").css("display","block");
            return false;
        }
    }
</script>


</body>
</html>
