<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div>
    <h1>欢迎来到论坛！</h1>
    <a th:align="right" href="/toLogin" th:target="_blank" th:if="${session.user} == null">登录</a>&nbsp;&nbsp;
    <span  th:if="${session.user} != null" th:text="${session?.user?.accountId}"></span>&nbsp;&nbsp;
    <a th:align="right" href="/toRegister" th:target="_blank">注册</a>
</div>

<form class="form" action="/topic/list" method="post" name="searchForm">
    <input type="text" name="title" placeholder="标题" th:value="${title}" /><br /><br />
    <button type="submit" >搜索</button>
</form>


<div><a href="/topic/mylist" th:target="_blank">我的发帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="/reply/mylist" th:target="_blank">我的回帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="/topic/publish" th:target="_blank">我要提问</a>
</div>


<h1>帖子列表</h1>
<br/><br/>
<div style="width: 100%">
        <table  style="border: solid thin;width: 100%">
        <tr  th:each="topic : ${topics}">
            <td th:width="100px" th:text="${topic.accountId}"></td>
            <td th:width="500px" th:text="${topic.title}"></td>
            <td th:width="300px" th:text="${#strings.substring(topic.createtime,0,19)}"></td>
            <td th:width="100px"><a th:href="@{/toReply(id=${topic.topicId})}">评论</a></td>
        </tr>
        </table>
</div>

</body>
<script language="javascript">
</script>
</html>