<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div>
    <h1>欢迎来到论坛！</h1>
    <a th:align="right" href="/toLogin" th:target="_blank" th:if="${session.user} == null">登录</a>&nbsp;&nbsp;
    <span  th:if="${session.user} != null" th:text="${session?.user?.accountId}"></span>&nbsp;&nbsp;
    <a th:align="right" href="/loginOut" th:target="_blank" th:if="${session.user} != null">退出</a>&nbsp;&nbsp;
    <a th:align="right" href="/toRegister" th:target="_blank">注册</a>
    <h1></h1>
</div>

<div>
<form class="form" action="/topic/list" method="post" name="searchForm">
    <input type="text" name="title" placeholder="标题" th:value="${title}" />
    <button type="submit" >搜索</button>
    <a th:align="right" href="/topic/list">重置</a>
</form>
</div>

<div th:if="${session.user} != null"><a href="/topic/mylist" th:target="_blank">我的发帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="/reply/mylist" th:target="_blank">我的回帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/topic/toPublish(accountId=${session.user.accountId})}" th:target="_blank">我要发帖</a>
</div>


<h1>帖子列表</h1>
<br/><br/>
<div style="width: 100%">
        <table  style="border: solid thin;width: 100%">
        <tr  th:each="topic : ${topics}">
            <td th:width="100px" th:text="${topic.accountId}"></td>
            <td th:width="500px"><a th:href="@{/topic/detail(topicId=${topic.topicId})}" th:text="${topic.title}"></a></td>
            <td th:width="300px" th:text="${#strings.substring(topic.createtime,0,19)}"></td>
        </tr>
        </table>

    <nav>
        <ul class="pagination">
            <li th:if="${not isFirstPage}">
                <a th:if="${not isFirstPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum-1},pageSize=${pageSize},title=${title})}">Previous</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>

                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/topic/list'}(pageNum=${pageNo},pageSize=${pageSize},title=${title})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>
            <li th:if="${not isLastPage}">
                <a th:if="${not isLastPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum+1},pageSize=${pageSize},title=${title})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

</body>
<script language="javascript">
</script>
</html>