<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div th:include="head :: head"></div>

<div>
<form class="form" action="/topic/list" method="post" name="searchForm">
    <input type="text" name="title" placeholder="标题" th:value="${title}" />
    <button type="submit" >搜索</button>
    <a th:align="right" href="/topic/list">重置</a>
</form>
</div>

<div th:if="${session.user} != null"><a th:href="@{/topic/mylist(accountId=${session.user.accountId})}" th:target="_blank">我的发帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/reply/mylist(accountId=${session.user.accountId})}" th:target="_blank">我的回帖</a>&nbsp;&nbsp;&nbsp;&nbsp;
     <a th:href="@{/topic/toPublish(accountId=${session.user.accountId})}" th:target="_blank">我要发帖</a>
</div>

<h1>帖子列表</h1>
<div id="topic_list">
    <div class="cell" th:each="topic,iterStat : ${topics}">
        <span th:text="${iterStat.index+1}"></span>
        <span th:text="${topic.accountId}"></span>
        <span><a th:href="@{/topic/detail(topicId=${topic.topicId})}" th:text="${topic.title}"></a></span>
        <span th:text="${#strings.substring(topic.createtime,0,19)}"></span>
    </div>
</div>

<div th:if=" ${totalPages} gt '1'">
    <nav>
        <ul class="page">
            <li th:if="${not isFirstPage}">
                <a th:if="${not isFirstPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum-1},pageSize=${pageSize},title=${title})}">上一页</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>

                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/topic/list'}(pageNum=${pageNo},pageSize=${pageSize},title=${title})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>
            <li th:if="${not isLastPage}">
                <a th:if="${not isLastPage}" th:href="@{${'/topic/list'}(pageNum=${pageNum+1},pageSize=${pageSize},title=${title})}">下一页</a>
            </li>
        </ul>
    </nav>
</div>

</body>
<script language="javascript">
</script>
</html>