<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="libra_footer" class="container container03">
    <h1 class="cent"><img src="../static/image/Group 5.png"></h1>
    <div class="row shequ">
        <div class="col-md-6"><a href="https://libra.org/zh-CN/" target="_blank">libra中文社区：https://libra.org/zh-CN/</a></div>
        <div class="col-md-6"><a href="https://libra.org/en-US/?noredirect=1" target="_blank">libra英文社区：https://libra.org/en-US/?noredirect=1</a></div>
    </div>
    <div class="row zc">
        <div class="col-md-12">
            <ul class="zc_left">
                <li><a href="https://github.com/libra/libra" target="_blank"><img src="../static/image/Group6.png"></a></li>
                <li><a href="https://twitter.com/libra" target="_blank"><img src="../static/image/Group12.png"></a></li>
                <li><a href="https://www.facebook.com/LibraAssociation/" target="_blank"><img src="../static/image/Group10.png"></a></li>
                <li><a href="https://www.instagram.com/libra/" target="_blank"><img src="../static/image/Group9.png"></a></li>
            </ul>
        </div>
    </div>

</div>